{{#each data}}
        <tr>
            <td>{{this.nombre}}</td>
            <td>{{this.precio}}</td>
            <td><img src="{{this.foto}}" alt="{{this.nombre}}" width="50px" height="50px"></td>
        </tr>
    {{else}}
        <h5>Aún no hay productos en el listado</h5>
    {{/each}}