<main class="container">
    <section>
        <strong>Argumentos de entrada:</strong><p>{{{argv}}}</p>
        <strong>Path de ejecución:</strong><p>{{{path}}}</p>
        <strong>Nombre de la plataforma (sistema operativo):</strong><p
        >{{{platform}}}</p>
        <strong>Process id:</strong><p>{{{pid}}}</p>
        <strong>Versión de node.js:</strong><p>{{{nodev}}}</p>
        <strong>Carpeta del proyecto:</strong><p>{{{cwd}}}</p>
        <strong>Memoria total reservada (rss):</strong><p>{{{rss}}}</p>
    </section>
    <a href="http://127.0.0.1:8080/"><button>Volver al inicio</button></a>
</main>